<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
  </head>
  <body> 
    <h1>PaperTrail API</h1>
    <h2>Create Account</h2>
<form method="POST">
  <label>Name:</label><br>
  <input type="text" name="name" required><br>

  <label>Email:</label><br>
  <input type="email" name="email" required><br>

  <label>Password:</label><br>
  <input type="password" name="password" required><br>

  <label>Role:</label><br>
  <select name="role" required>
    <option value="user" selected>User</option>
    <option value="admin">Admin</option>
  </select><br><br>

  <button type="submit">Register</button>
</form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for m in messages %}
          <div class="flash">{{ m }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  </body>
</html>
